# Place at /etc/default/sof-discord-bot and adjust values
DISCORD_WEBHOOK_URL=
SOF_BOT_LOG=INFO
# If you need to override SOF root discovery, you can export PWD before starting service or modify the WorkingDirectory
